body {
    background-image: url("/images/background.webp");
    background-size : cover;
    background-attachment: fixed;
    background-position: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 2rem; 

    margin: 1.25rem;
    max-width: 75vw;
    width: fit-content;
    height: fit-content;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    

}

.usericon>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    
}
.usericon {
    padding: 5%;
    width: 25%;

    z-index: 234;
}

.name {
    width:100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name>h1{
    font-family: 'FOT-Yuruka Std', Arial, sans-serif;
    font-size: 3rem;
    color: white;
}
.name>p{
    font-family: 'FOT-Yuruka Std', Arial, sans-serif;
    font-size: 1.67rem;
    color: white;
}

@media (max-width: 950px) {
  .card {
    flex-direction: column;
  }
  .card-container{
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
  }
  .name {
    margin-left: 0;
    margin-top: 20px;
  }
  .usericon{
    width: 10rem;
    margin-bottom: 20px;
  }
}

.no{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    
}
.no>p{
    font-family: 'FOT-Yuruka Std', Arial, sans-serif;
    font-size: 4rem;
    color: white;
}
@media (max-height: 490px) {
  .no{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 490px) {
  .name>h1{
    font-size: 2rem;
  }
  .name>p{
    font-size: 1rem;
  }
}

.link#twitch{
    background-color: rgb(81, 0, 81);
    border-color: rgb(157, 0, 255);

}

.link#twitch:hover{
    background-color: rgb(59, 0, 59);
    border-color: rgb(199, 110, 255);
}
.link#youtube{
    background-color: rgb(91, 0, 0);
    border-color: rgb(255, 0, 0);
}
.link#youtube:hover{
    background-color: rgb(58, 0, 0);
    border-color: rgb(255, 98, 98);
}
.link#twitter{
    background-color: rgb(0, 81, 157);
    border-color: rgb(0, 157, 255);
}
.link#twitter:hover{
    background-color: rgb(0, 59, 114);
    border-color: rgb(149, 190, 255);
}
.link#bsky{
    background-color: rgb(17, 72, 148);
    border-color: rgb(0, 157, 255);
}
.link#bsky:hover{
    background-color: rgb(12, 51, 106);
    border-color: rgb(150, 190, 255);
}
.link#discord{
    background-color: rgb(88, 101, 242);
    border-color: rgb(103, 115, 242);
}
.link#discord:hover{
    background-color: rgb(58, 71, 212);
    border-color: rgb(73, 85, 212);
}
.link#vrc{
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}
.link#vrc:hover{
    background-color: rgb(70, 70, 70);
    border-color: rgb(195, 195, 195);
}
.link#github{
    background-color: rgb(33, 40, 48);
    border-color: rgb(54, 54, 54);
}
.link#github:hover{
    background-color: rgb(23, 28, 34);
    border-color: rgb(34, 34, 34);
}
.link#tiktok{
    background-color:rgb(254, 44, 85);
    border-color: rgb(37, 244, 238);
}
.link#tiktok:hover{
    background-color: rgb(159, 28, 54);
    border-color: rgb(22, 148, 144);
}
.link#osu{
    background-color: rgb(228, 98, 156);
    border-color: rgb(217, 46, 123);
}
.link#osu:hover{
    background-color: rgb(225, 125, 170);
    border-color: rgb(216, 83, 143);
}
.link#beatleader{
    background-color: rgb(0, 0, 0);
    border-color: rgb(147, 32, 149);
}
.link#beatleader:hover{
    background-color: rgb(97, 97, 97);
    border-color: rgb(198, 42, 201);
}
.link#leetify{
    background-color: #5c1c31;
    border-color: #bf3b68;
}
.link#leetify:hover{
    background-color: #2d0d18;
    border-color: #832947;
}
div.link{   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 3.125rem;
    border-width: 0.125rem;
    border-style: solid;
    

}
a.link{
    width: max-content;
    height: max-content;
}
.link>a,.link>p,.link>div{
    font-family: 'FOT-Yuruka Std', Arial, sans-serif;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    
}
.link>img.icon {
    margin-right: 0.5rem;
    width: 35px;
    height: 35px;
}
.link>img.linkicon{
    margin-left : 0.5rem;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.25rem;
}

@media (max-width: 950px) {
  .links{
    flex-direction: column;
  }
}